<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav" [routerLinkActive]="['active']">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project']">Add Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/task']">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewtask']">View Task</a>
      </li>
    </ul>
  </div>
</nav>